<div class="main ">
    <h1 class="p-3"> Welcome to the Beach</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam enim deleniti facere consequuntur sequi quibusdam delectus omnis excepturi fugiat itaque, exercitationem animi. Cupiditate nemo animi eveniet dolores labore dolorum commodi?</p>
    <button class=" rounded-full border-solid border-2 mt-2 ">
        <a class="" href="">Read More</a>
    </button>

</div>
<p class=" text-white p-14 font-sans " id="second-p">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quia, possimus odit vero placeat voluptate maiores eum facilis pariatur delectus magni aspernatur atque, fugiat corporis hic id, reiciendis eos sint!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, velit accusamus. Iure accusantium, ea asperiores harum qui quidem quos quasi iste voluptas cum, veritatis ut recusandae est saepe illo neque!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo illum, cum officiis voluptatem ea architecto consectetur dolores facere laboriosam rerum eum, facilis pariatur voluptatibus. Pariatur quibusdam sunt quam assumenda! Ullam?
</p>
<p class="text-amber-600 p-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint omnis maxime quas libero. Facilis praesentium animi recusandae quos, perspiciatis rem adipisci. Repellendus, cupiditate pariatur rem odio dignissimos provident id voluptates.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic magni id, voluptatum, odio nesciunt similique optio consequuntur odit iste eveniet sunt esse alias doloribus, harum vero quasi beatae? Eaque, tempora?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque amet inventore necessitatibus minus, provident voluptates fugiat officiis sunt sapiente aliquid consequuntur omnis facere laborum beatae, cupiditate deserunt, rerum accusantium. Debitis.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti laboriosam ratione tenetur quaerat at eligendi praesentium laudantium totam aspernatur nihil. Necessitatibus earum fuga minima iure, sit cumque eius illum eum!
</p>
<div class="inline-flex">
    <div class="w-1/3  p-3 bg-amber-800 colorOfMine">
        <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, maiores aut rem corrupti voluptate expedita enim obcaecati nulla earum incidunt blanditiis, hic voluptatibus deleniti. Aliquid cum distinctio temporibus adipisci vero?
        </p>
    </div>
    <div class="w-1/3  p-3 ">
        <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, maiores aut rem corrupti voluptate expedita enim obcaecati nulla earum incidunt blanditiis, hic voluptatibus deleniti. Aliquid cum distinctio temporibus adipisci vero?
        </p>
    </div>
    <div class="w-1/3 p-3 bg-amber-800 colorOfMine" >
        <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, maiores aut rem corrupti voluptate expedita enim obcaecati nulla earum incidunt blanditiis, hic voluptatibus deleniti. Aliquid cum distinctio temporibus adipisci vero?
        </p>
    </div>
</div>
